@font-face {
    font-family: KumbhSans;
    src: url(textFont/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: KumbhSans;
    z-index: 0;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3em;
}

.header-content-lg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: .1em solid #000000cc;
}

.header-content-sm {
    display: none;
}

.header-logo {
    display: flex;
    justify-content: center;
}

.header-logo nav {
    margin-left: 2em;
}

.header-logo nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-logo nav ul li {
    margin-left: 1em;
}

.header-logo nav ul li a {
    text-decoration: none;
    color: #000000cc;
    transition: .3s;
    position: relative;
}

.header-logo nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: .2em;
    background: #ff7d1a;
    bottom: -1.75em;
    left: 0;
    transition: .2s ease;
}

.header-logo nav ul li a:hover::after {
    width: 100%;
}

.header-logo nav ul li a:hover {
    color: #000;
    font-weight: 500;
}

.cart {
    position: relative;
}

.cart-btn {
    margin-right: 2em;
    cursor: pointer;
}

.cart-btn .cart-img {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-image: url(images/icon-cart.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cart-btn #amount,
#amount-m {
    position: absolute;
    width: 40%;
    height: 40%;
    right: 40%;
    top: 0;
    background: #ff7d1a;
    border-radius: .3em;
    color: #fff;
    text-align: center;
    font-size: .65em;
    display: none;
}

.cart-item {
    position: absolute;
    width: 450%;
    height: 500%;
    background: #fff;
    bottom: -11em;
    left: -220%;
    border-radius: 1em;
    box-shadow: 0 0 1em #0000004b;
    padding: 1em;
    transform: scale(var(--cart));
    transition: .3s;
}

.cart-item .cart-head {
    border-bottom: .1em solid #0000004b;
    padding-bottom: 1em;
}

.cart-body {
    position: relative;
}

.cart-body .cart-empty {
    position: absolute;
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000cc;
}

.cart-body .cart-fill {
    position: absolute;
    width: 100%;
    height: 6em;
    display: none;
}

.fill-content {
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    margin-top: .5em;
}

.product .product-img {
    flex-basis: 25%;
    background-image: url(images/image-product-1-thumbnail.jpg);
    background-position: center;
    background-size: cover;
    border-radius: .2em;
}

.product .product-info {
    flex-basis: 75%;
    font-size: .7rem;
    padding-left: .2em;
    padding: .5em;
}

.product .product-info p {
    text-transform: capitalize;
}

.product .product-info .product-price {
    display: flex;
    margin-top: .5em;
}

.product .product-info .product-price span {
    margin: 0 .4em;
}

.check {
    background: #ff7d1a;
    padding: .5em;
    margin-top: .5em;
    text-align: center;
    border-radius: .5em;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.check:hover {
    background: #fdc8a2;
}

#cancle {
    display: block;
    width: 1em;
    height: 1em;
    cursor: pointer;
    background-image: url(images/icon-delete.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.header-profile {
    display: flex;
}

.header-profile .profile {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 1em;
    background-image: url(images/image-avatar.png);
    background-position: center;
    background-size: cover;
    transition: .2s;
    cursor: pointer;
}

.header-profile .profile:hover {
    border: .1em solid #ff7d1a;
}


.main-content {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.product-preview {
    position: relative;
}

.preview-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

.preview-content span {
    display: block;
    background: #000;
    border-radius: .5em;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.preview-content #preview-screen {
    width: 50%;
    height: 50%;
    background-image: url(images/image-product-1.jpg);
}

.preview-content .preview-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    width: 40em;
    gap: .5em;
}

.preview-content .preview-nav span {
    width: 10%;
    height: 4em;
    transition: .2s;
}

.preview-content .preview-nav #preview-nav-1 {
    background-image: url(images/image-product-1-thumbnail.jpg);
}

.preview-content .preview-nav #preview-nav-2 {
    background-image: url(images/image-product-2-thumbnail.jpg);
}

.preview-content .preview-nav #preview-nav-3 {
    background-image: url(images/image-product-3-thumbnail.jpg);
}

.preview-content .preview-nav #preview-nav-4 {
    background-image: url(images/image-product-4-thumbnail.jpg);
}

.preview-content .preview-nav #preview-nav-1:hover {
    background-image: linear-gradient(#ffffff85, #ffffff85), url(images/image-product-1-thumbnail.jpg);
}

.preview-content .preview-nav #preview-nav-2:hover {
    background-image: linear-gradient(#ffffff85, #ffffff85), url(images/image-product-2-thumbnail.jpg);
}

.preview-content .preview-nav #preview-nav-3:hover {
    background-image: linear-gradient(#ffffff85, #ffffff85), url(images/image-product-3-thumbnail.jpg);
}

.preview-content .preview-nav #preview-nav-4:hover {
    background-image: linear-gradient(#ffffff85, #ffffff85), url(images/image-product-4-thumbnail.jpg);
}

.product-description {
    z-index: auto;
    margin-top: 4em;
}

.product-description h4 {
    text-transform: uppercase;
    color: #ff7d1a;
    letter-spacing: .3em;
    margin-bottom: 1em;
}

.product-description h1 {
    width: 70%;
    margin-bottom: 1em;
}

.product-description p {
    width: 60%;
    margin-bottom: 1em;
}

.product-description .description-price h1 {
    position: relative;
    width: fit-content;
}

.product-description .description-price h1::before {
    position: absolute;
    content: '50%';
    right: -3rem;
    bottom: .5rem;
    font-size: .8rem;
    color: #ff7d1a;
    padding: .3em;
    background: #ff7d1a6c;
    border-radius: .3em;
}

.product-description .description-price h1::after {
    position: absolute;
    content: '$250.00';
    left: 0;
    bottom: -2rem;
    font-size: 1rem;
    color: #000000a8;
    text-decoration: line-through;
    padding: .3em;
}

.product-count {
    display: flex;
    padding-top: 1em;
}

.count {
    background: #1a19151c;
    padding: .5em;
    margin-right: .5em;
    border-radius: .3em;
}

.count .btn {
    padding: .1em .3em;
    font-weight: 900;
    font-size: 1.5rem;
    color: #ff7d1a;
    background: transparent;
    border: none;
    cursor: pointer;
}

.count .btn:hover {
    color: #ff7d1a6c;
}

.count #product-quantity {
    padding: 0 1em;
    font-weight: 900;
    cursor: default;
    width: 3rem;
    text-align: center;
    background:transparent;
    border: none;
    outline: none;
    pointer-events: none;
}

#add {
    padding: 0 .8em;
    border-radius: .3em;
    border: none;
    background: #ff7d1a;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#add:hover {
    background: #ff7d1a6c;
}

#add img {
    mix-blend-mode: plus-lighter;
    margin-right: .5em;
}

@media (max-width:800px) {
    @media (max-height:800px) {}

    .header-content-lg {
        display: none;
    }

    .container {
        padding: 0;
    }

    .header-content-sm {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        background: #fff;
    }

    .header-content-sm .menu {
        display: block;
    }

    .check {
        margin-top: 2.5em;
    }

    .menu {
        display: block;
        width: 2em;
        height: 2em;
        background-image: url(images/icon-menu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: .5em;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .cart-item {
        left: -396%;
        width: 549%;
        height: 680%;
        bottom: -16em;
    }

    .menu-link {
        position: absolute;
        background: #fff;
        z-index: 2;
        top: 0;
        left: -315%;
        font-size: 1.5rem;
        box-shadow: 0 0 5em #000000cc;
        width: 60%;
        height: 100%;
        padding: 1em .5em;
        transition: .6s;
    }

    .menu-link ul li.close {
        margin-bottom: 2em;
    }

    .menu-link ul li.close .close-btn {
        display: block;
        width: 1em;
        height: 1em;
        background-image: url(images/icon-close.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .menu-link ul li {
        list-style: none;
        margin-bottom: 1em;
    }

    .menu-link ul li a {
        text-decoration: none;
        color: #000000cc;
    }

    .menu-link ul li a:hover {
        font-weight: 500;
        color: #000;
    }

    .main-content {
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr;
    }

    .product-preview {
        z-index: auto;
        pointer-events: none;
    }



    .preview-content {
        margin-top: 0em;
        z-index: -1;
    }

    .preview-content #preview-screen {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .preview-content .preview-nav {
        display: none;
    }

    .product-description {
        margin-top: 1em;
        padding: 0 1em;
    }

    .product-description h4 {
        margin-bottom: .5em;
    }

    .product-description h1 {
        width: 100%;
        margin-bottom: .5em;
    }

    .product-description p {
        width: 100%;
        margin-bottom: .5em;
    }

    .product-description .description-price h1::after {
        left: 15em;
        bottom: .5em;
    }

    .product-count {
        padding-top: 0em;
        flex-direction: column;
    }

    .count {
        margin-right: 0;
        margin-bottom: .5em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #add {
        padding: 1em;
        justify-content: center;
    }




}

:root {
    --cart: 0;
}

.cart-opend {
    --cart: 1;
}

::selection {
    background: #ff7d1a;
    color: #000;
    mix-blend-mode: difference;
}